<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='recipes.css') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="background"></div>
<div class="recipes-view">
	<div class="recipes-header">

		<div class="row">
			<div class="col-xs-4">
				<div class="col-xs-3">
					<img class="strawberry" src="./static/assets/fresa.png"></img>
				</div>
				<div class="col-xs-9 recipes-title">
					Food Recommender
				</div>
			</div>
			<div class="col-xs-7"></div>
			<div class="col-xs-1">
				<i class="glyphicon glyphicon-user user-icon"></i>
			</div>
		</div>
	</div>
</div>
