<link rel="stylesheet" href="/static/recipes/detail.css" type="text/css">
<link rel="stylesheet" href="/static/recipes/common.css" type="text/css">
{% extends 'base.html' %}

{% block main %}
	<div class="row detail-content">
		<div class="row detail-row-title">
			<div class="col-xs-8 detail-title">
				{{ recipe_name }}
			</div>
			<div class="col-xs-4 detail-rating">
				Rating: {{ rating }}
			</div>
		</div>
		<div class="row detail-row-image">
			<div class="col-xs-5 detail-image">
				<img class="brandade" src="{{ img }}"></img>
			</div>
			<div class="col-xs-7 detail-summary">
				<div class="row detail-description">
					{{ description }}
				</div>
				<div class="row detail-details">
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Preparation time:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.p.values[0] }} minutes
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Cooking time:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.c.values[0] }} minutes
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Serves:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.s.values[0] }}
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Dietary:
						</div>
						<div class="col-xs-6 detail-details-value">
							{% if recipe.v.values[0] == 1 %}
								Vegan
							{% else %}
								None
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row detail-subtitle">
			Ingredients:
		</div>
		<div class="row detail-ingredients">
			{% for ingredient in recipe.l.values[0] %}
				{{ingredient}}
				<br>
			{% endfor %}

		</div>
		<div class="row detail-subtitle">
			Method:
		</div>
		<div class="row detail-method">
			{% for step in method %}
				{{step}}
				<br>
			{% endfor %}
		</div>
	</div>
{% endblock main %}