<link rel="stylesheet" href="/static/recipes/detail.css" type="text/css">
<link rel="stylesheet" href="/static/recipes/common.css" type="text/css">
{% extends 'base.html' %}

{% block main %}
	<div class="row detail-content">
		<div class="row detail-row-title">
			<div class="col-xs-8 detail-title">
				{{ recipe_name }}
			</div>
			<div class="col-xs-4 detail-rating">
				{% if username == None %}
				<div class="rating-s">
	                {% if rating >= 5 %}
	                  <span class="checked" ><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
	                {% else %}
	                  <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
	                {% endif %}
	                {% if rating >= 4 %}
	                  <span class="checked" ><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
	                {% else %}
	                  <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
	                {% endif %}
	                {% if rating >= 3 %}
	                  <span class="checked" ><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
	                {% else %}
	                  <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
	                {% endif %}
	                {% if rating >= 2 %}
	                  <span class="checked" ><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
	                {% else %}
	                  <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
	                {% endif %}
	                {% if rating >= 1 %}
	                  <span class="checked" ><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
	                {% else %}
	                  <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
	                {% endif %}
       	   		</div>
	            {% else %}
	            <div class="rating">
	              {% if rating >= 5 %}
	                <span class="checked" ><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
	              {% else %}
	                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
	              {% endif %}
	              {% if rating >= 4 %}
	                <span class="checked" ><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
	              {% else %}
	                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
	              {% endif %}
	              {% if rating >= 3 %}
	                <span class="checked" ><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
	              {% else %}
	                <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
	              {% endif %}
	              {% if rating >= 2 %}
	                <span class="checked" ><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
	              {% else %}
	                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
	              {% endif %}
	              {% if rating >= 1 %}
	                <span class="checked" ><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
	              {% else %}
	                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
	              {% endif %}
	            </div>
              	{% endif %}
			</div>
		</div>
		<div class="row detail-row-image">
			{% if img!=None %}
			<div class="col-xs-5 detail-image">
				<img class="brandade" src="{{ img }}"></img>
			</div>
			{% else %}
			<div class="col-xs-5 detail-image">
				<img class="brandade" src="{{url_for('static', filename='./assets/default.jpg')}}"></img>
			</div>
			{% endif %}
			<div class="col-xs-7 detail-summary">
				<div class="row detail-description">
					{{ description }}
				</div>
				<div class="row detail-details">
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Preparation time:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.p.values[0] }} minutes
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Cooking time:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.c.values[0] }} minutes
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Serves:
						</div>
						<div class="col-xs-6 detail-details-value">
							{{ recipe.s.values[0] }}
						</div>
					</div>
					<div class="row detail-details-row">
						<div class="col-xs-6 detail-details-title">
							Dietary:
						</div>
						<div class="col-xs-6 detail-details-value">
							{% if recipe.v.values[0] == 1 %}
								Vegan
							{% else %}
								None
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row detail-subtitle">
			Ingredients:
		</div>
		<div class="row detail-ingredients">
			{% for ingredient in recipe.l.values[0] %}
				{{ingredient}}
				<br>
			{% endfor %}

		</div>
		<div class="row detail-subtitle">
			Method:
		</div>
		<div class="row detail-method">
			{% for step in method %}
				{{step}}
				<br>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript">
        $(document).ready(function(){
            // Check Radio-box
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                var userRating = this.value;
                var recipe_name = $('.detail-title').text();
                $.ajax({
                  url: '/rateRecipe',
                  data: {'rating': userRating, 'name': recipe_name},
                  type: 'POST',
                  success: function(response) {
                      console.log(response);
                      alert('You have rated this recipe with: ' + userRating)
                  },
                  error: function(error) {
                      console.log(error);
                  }
                })
            });
        });
    </script>
{% endblock main %}