body {
	background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size:150%;
    overflow: hidden;
    margin-top: 340px;
}

.background {
	background-color: #ffffff;
	opacity: 0.7;
	width:100vw;
	height:150%;
	position:absolute;
	z-index:-1;
	top:0;
}

.navbar {
    margin: 25px;
    height: 60px;
    background-color: rgb(253, 68, 68) !important;
    color: white;
    font-weight: bold;
    //margin-top: 100px;
}
.navbar-inner {
    height: 100%;
    background-image: none !important;
    background-color: rgb(253, 68, 68) !important;
}
.header-bar {
	height: 100%;
	width: 100% !important;
	padding: 15px;
}
.glyphicon-user {
	color: #ffffff;
}
.user-icon {
	font-size:18px;
	color: #ffffff;
}
.header-title {
	font-size: 20px;
    height: 61px;
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
.header-title a:hover {
	color: #ffffff !important;
}
.dropdown {
	margin-top:-6px;
}
.dropdown-menu {
	margin-left:-100px !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
}

ul.nav a:hover { 
	background-color: rgb(253, 68, 68) !important;
	color: #ffffff !important; 
}
a:hover, a:focus {
    color: #ffffff !important;
    text-decoration: underline;
}
.strawberry {
	width:61px;
	height:61px;
	margin-top:-15px;
}